spring:
  profiles:
    active: dev
  application:
    name: springboot-demo
  lifecycle:
    timeout-per-shutdown-phase: 30s

server:
  port: 8080
  servlet:
    context-path: /
  shutdown: graceful

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler
